<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee      http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <!-- Cart Servlets -->
    <servlet>
        <servlet-name>AddToCartServlet</servlet-name>
        <servlet-class>cart.AddToCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditCartItemServlet</servlet-name>
        <servlet-class>cart.EditCartItemServlet</servlet-class>
    </servlet>
    <!-- Item Servlets -->
    <servlet>
        <servlet-name>addItemServlet</servlet-name>
        <servlet-class>item.addItemServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteItemServlet</servlet-name>
        <servlet-class>item.deleteItemServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewItemServlet</servlet-name>
        <servlet-class>item.viewItemServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>removeItemServlet</servlet-name>
        <servlet-class>item.removeItemServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editItemServlet</servlet-name>
        <servlet-class>item.editItemServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getItemServlet</servlet-name>
        <servlet-class>item.getItemServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ItemOrderServlet</servlet-name>
        <servlet-class>item.ItemOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>itemOrderServlet</servlet-name>
        <servlet-class>item.itemOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sortItemServlet</servlet-name>
        <servlet-class>item.sortItemServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchItemServlet</servlet-name>
        <servlet-class>item.searchItemServlet</servlet-class>
    </servlet>
    <!-- Event Servlet -->
    <servlet>
        <servlet-name>eventstuff</servlet-name>
        <servlet-class>home.eventstuff</servlet-class>
    </servlet>
    <!-- User Servlets -->
    <servlet>
        <servlet-name>UserServlet</servlet-name>
        <servlet-class>User.UserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addUserServlet</servlet-name>
        <servlet-class>user.addUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>removeUserServlet</servlet-name>
        <servlet-class>user.deleteUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editUserServlet</servlet-name>
        <servlet-class>user.editUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getUserServlet</servlet-name>
        <servlet-class>user.getUserServlet</servlet-class>
    </servlet>
    <!-- Admin Servlets -->
    <servlet>
        <servlet-name>addAdminServlet</servlet-name>
        <servlet-class>admin.addAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>removeAdminServlet</servlet-name>
        <servlet-class>Servlet.removeUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getAdminServlet</servlet-name>
        <servlet-class>admin.getAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewAdminServlet</servlet-name>
        <servlet-class>admin.viewAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editAdminServlet</servlet-name>
        <servlet-class>admin.editAdminServlet</servlet-class>
    </servlet>
    <!-- Report Servlets -->
    <servlet>
        <servlet-name>reportTotalItem</servlet-name>
        <servlet-class>report.reportTotalItem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>reportTop3Item</servlet-name>
        <servlet-class>report.reportTop3Item</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>reportLast3Item</servlet-name>
        <servlet-class>report.reportLast3Item</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>reportTotalItemByMonth</servlet-name>
        <servlet-class>report.reportTotalItemByMonth</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>reportTop3ItemByMonth</servlet-name>
        <servlet-class>report.reportTop3ItemByMonth</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>reportLast3ItemByMonth</servlet-name>
        <servlet-class>report.reportLast3ItemByMonth</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>reportCategoryByMonth</servlet-name>
        <servlet-class>report.reportCategoryByMonth</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>reportCategory</servlet-name>
        <servlet-class>report.reportCategory</servlet-class>
    </servlet>
    <!-- Mappings -->
    <servlet>
        <servlet-name>SignupServlet</servlet-name>
        <servlet-class>Auth.SignupServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>Auth.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewUserServlet</servlet-name>
        <servlet-class>user.viewUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewStaffServlet</servlet-name>
        <servlet-class>staff.viewStaffServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteUserServlet</servlet-name>
        <servlet-class>user.deleteUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddToCartServlet</servlet-name>
        <url-pattern>/AddToCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditCartItemServlet</servlet-name>
        <url-pattern>/EditCartItemServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addItemServlet</servlet-name>
        <url-pattern>/addItemServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteItemServlet</servlet-name>
        <url-pattern>/deleteItemServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewItemServlet</servlet-name>
        <url-pattern>/viewItemServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>removeItemServlet</servlet-name>
        <url-pattern>/removeItemServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editItemServlet</servlet-name>
        <url-pattern>/editItemServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getItemServlet</servlet-name>
        <url-pattern>/getItemServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ItemOrderServlet</servlet-name>
        <url-pattern>/ItemOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>itemOrderServlet</servlet-name>
        <url-pattern>/itemOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sortItemServlet</servlet-name>
        <url-pattern>/sortItemServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchItemServlet</servlet-name>
        <url-pattern>/searchItemServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>eventstuff</servlet-name>
        <url-pattern>/eventstuff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/UserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addUserServlet</servlet-name>
        <url-pattern>/addUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>removeUserServlet</servlet-name>
        <url-pattern>/removeUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editUserServlet</servlet-name>
        <url-pattern>/editUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getUserServlet</servlet-name>
        <url-pattern>/getUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addAdminServlet</servlet-name>
        <url-pattern>/addAdminServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>removeAdminServlet</servlet-name>
        <url-pattern>/removeAdminServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getAdminServlet</servlet-name>
        <url-pattern>/getAdminServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewAdminServlet</servlet-name>
        <url-pattern>/viewAdminServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editAdminServlet</servlet-name>
        <url-pattern>/editAdminServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>reportTotalItem</servlet-name>
        <url-pattern>/reportTotalItem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>reportTop3Item</servlet-name>
        <url-pattern>/reportTop3Item</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>reportLast3Item</servlet-name>
        <url-pattern>/reportLast3Item</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>reportTotalItemByMonth</servlet-name>
        <url-pattern>/reportTotalItemByMonth</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>reportTop3ItemByMonth</servlet-name>
        <url-pattern>/reportTop3ItemByMonth</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>reportLast3ItemByMonth</servlet-name>
        <url-pattern>/reportLast3ItemByMonth</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>reportCategoryByMonth</servlet-name>
        <url-pattern>/reportCategoryByMonth</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>reportCategory</servlet-name>
        <url-pattern>/reportCategory</url-pattern>
    </servlet-mapping>
    <!-- Session Configuration -->
    <servlet-mapping>
        <servlet-name>SignupServlet</servlet-name>
        <url-pattern>/SignupServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewUserServlet</servlet-name>
        <url-pattern>/viewUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewStaffServlet</servlet-name>
        <url-pattern>/viewStaffServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteUserServlet</servlet-name>
        <url-pattern>/deleteUserServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
</web-app>
